---
import Tiles from "./Tiles.astro";
import SocialIcons from "../SocialIcons/SocialIcons.astro";
---

<div
  class={`relative w-full h-dvh transition-all bg-gradient-to-br from-dark-green from-20% via-blue via-65% to-rust to-90% bg-size-[200%] animate-change-background flex justify-center items-center`}
>
  <Tiles />
  <div class="absolute flex flex-col items-center gap-6">
    <h1 class="text-gray-200 md:text-6xl lg:text-8xl text-4xl text-center">
      Hello,<br /> I am Kyle Monk!
    </h1>
    <div class="bg-gray-500/50 bg-opacity-50 rounded-sm px-4 py-3">
      <SocialIcons />
    </div>
  </div>
</div>
