---
import Tiles from "./Tiles.astro";
---

<div
  class={`relative w-dvw h-dvh bg-gradient-to-br from-dark-green from-20% via-blue via-65% to-rust to-90% bg-size-[200%] animate-change-background flex justify-center items-center`}
>
  <Tiles />
  <h1
    class="text-gray-200 md:text-6xl lg:text-8xl text-4xl text-center absolute"
  >
    Hello I am Kyle,<br /> a Web Developer
  </h1>
</div>
