---
const currentDate = new Date();
const year = currentDate.getFullYear();

let gitHubSvgString: string;
let linkedinSvgString: string;
const gitHubIconModule = await import(
  `../../assets/social-icons/github-icon.svg?raw`
);
const linkedinIconModule = await import(
  `../../assets/social-icons/linkedin-icon.svg?raw`
);
gitHubSvgString = gitHubIconModule.default;
linkedinSvgString = linkedinIconModule.default;
---

<footer class="max-w-7xl mx-auto px-6 md:px-8 lg:px-10">
  <div
    class="bg-blue rounded-sm bg-gradient-to-tl from-blue from-40% to-rust to-100% py-10 px-9 sm:px-21 rounded-t-sm flex gap-9 justify-between items-center flex-wrap"
  >
    <p class="text-gray-200 text-base">&copy; {year} KyleMonk.dev</p>
    <ul class="social-icons flex gap-6">
      <li>
        <a href="https://github.com/kjm1550" target="_blank">
          <Fragment set:html={gitHubSvgString} />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/kylejmonk" target="_blank">
          <Fragment class="test" set:html={linkedinSvgString} />
        </a>
      </li>
    </ul>
  </div>
</footer>

<style>
  .social-icons :global(svg) {
    fill: var(--color-gray-200);
    width: auto;
    height: 44px;
    transition: fill 0.15s ease-in-out;
  }
  .social-icons :global(svg):hover {
    fill: var(--color-light-green);
  }
</style>
