---
import "../styles/global.css";
import Footer from "../components/Footer/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <meta name="description" content="I am Kyle Monk, an experienced web developer with a passion for crafting elegant, user-friendly websites. View my portfolio to see examples of my work and learn about my approach.">
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    ></script>
  </head>
  <body class="bg-gray-950">
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
