---
const tools = [{},{}];
---

<div class="bg-gray-950 py-80 max-w-7xl mx-auto">
    <div class="px-4 md:px-6 lg:px-10 flex flex-col gap-10">
        <h2 class="text-gray-50 text-5xl whitespace-nowrap flex gap-20 items-center after:content-[''] after:h-1.5 after:w-full after:bg-rust">About Me</h2>
        <p class="pl-20 py-2 border-l-6 border-l-rust text-gray-100 text-xl">This is some text about me and what I do as a web developer</p>
        <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-1">
            {tools.map((tool) => (
                <div class="bg-light-green hover:bg-blue transition-colors p-3 flex flex-col justify-center items-center">Chicken</div>
            ))}
        </div>
    </div>
</div>