---
let svgString: string | null = null;
const { toolName, imageFileName } = Astro.props;

try {
  const iconModule = await import(
    `../../assets/tool-icons/${imageFileName}.svg?raw`
  );
  svgString = iconModule.default;
} catch (e) {
  console.warn(`Ensure the file src/assets/icons/${imageFileName}.svg exists.`);
}
---

<div
  class="icon-card rounded-sm bg-gradient-to-r from-dark-green from-50% via-dark-green via-50% to-blue to-80% bg-size-[200%] transition-all hover:bg-right px-6 py-4 flex flex-col justify-center items-center gap-1.5"
>
  {svgString && <Fragment set:html={svgString} />}
  <p class="text-gray-200 text-xl">{toolName}</p>
</div>

<style>
  .icon-card :global(svg) {
    fill: var(--color-gray-200);
    width: auto;
    height: 52px;
  }
</style>
